body{
    background-color: white;
    height: 100vh;
    margin: 0%;
    overflow: hidden;
}

#ground{
    position:absolute;
    margin-left: 10%;
    margin-top: 4.75%;
    width: 80vw; height: 85%;
    border:2px solid red;
    background-color: rgb(70, 46, 20);
}

#Cplayer{
    position:absolute; 
    top:9%; 
    left:13%;
    width:100px; height:100px;          
    background-color:rgb(0, 225, 255);
}

#wall{
    background-image: inherit url(./images/ground_forest.png);
}

#window{
    width: 700px;
    height: 500px;
    position: absolute;
z-index: 100;
display: none;

}

.hiddened{
    display: none;
}

#enemy{
    position:absolute; 
    top:9%; 
    left:72%;
    width:100px; height:100px;          
    background-color:rgb(255, 0, 0);
}

.door{
    position: absolute;
    top:40%;
    left: 99%;
    width: 1%;
    height: 20%;
    background-color: black;

}

.buttonText{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    user-select: none;
}

.stat{
    user-select: none;
}

#characterCreator{
    display: none;
}

.stat-display #Name, .Estat-display #Name{
    top: -5px;
    left: -5px;
    position: absolute;
    text-align: center;
    padding-left: 4px;
    padding-right: 6px;
    border-width: 4px;
    font-size: 20px;
}

.stat-display #Level, .Estat-display #Level{
    left: 78%;
    top: -5px;
    position: absolute;
    text-align: center;
    padding-left: 4px;
    padding-right: 6px;
    width: 80px;
    border-width: 4px;
}

.stat-display #CHP, .Estat-display #HP{
    top: 29px;
    left: -5px;
    width: 80px;
    text-align: center;
    height: fit-content;
    border-width: 4px;
    position: absolute;
    display: inline-block;
}

.stat-display #STR, .Estat-display #STR{
    top: 105px;
    left: 5px;
    width: 100px;
    text-align: center;
    height: fit-content;
    border-width: 4px;
    position: absolute;
    display: inline-block;
}

.stat-display #DEF, .Estat-display #DEF{
    top: 105px;
    left: 122.5px;
    width: 100px;
    text-align: center;
    height: fit-content;
    border-width: 4px;
    position: absolute;
    display: inline-block;
}

.stat-display #SPD, .Estat-display #SPD{
    top: 105px;
    left: 237.5px;
    width: 100px;
    text-align: center;
    height: fit-content;
    border-width: 4px;
    position: absolute;
    display: inline-block;
}

.enemyBorder{
    border-color: rgb(211, 13, 46);
}

.playerBorder{
    border-color: rgb(45, 212, 191);
}

.testBorder{
    border-color: rgb(156, 163, 175);
}

.redText{
   color: rgb(211, 13, 46);
   font-weight: bold;
}

.blueText{
    color: rgb(45, 212, 191);
    font-weight: bold;
 }

 .yellowText{
    color: rgb(245, 155, 20);
    font-weight: bold;
 }

 .bluerText{
    color: rgb(48, 36, 219);
    font-weight: bold;
 }

 .greenText{
    color: rgb(6, 219, 6);
    font-weight: bold;
 }

.log{
    margin-left: 5px;
    margin-top: 5px;
    border-width: 4px;
    position: relative;
    margin-right: 5px;
    padding-left: 5px;
    font-size: 15px;
}

.turnCounter{

    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    margin-top: 5px;
    width: fit-content;

}

@tailwind base;
@tailwind components;
@tailwind utilities;